In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [2]:
df = pd.read_csv("AI_Invasion.csv")

In [3]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,Abuja,Mercedes-Benz,GLA 250,2015,Brown,14.50,Foreign Used,50000.0
1,Abuja,Hyundai,Accent,2013,Red,1.55,Nigerian Used,NaN
2,Lagos,Lexus,GX 460 Premium,2011,White,14.00,Foreign Used,85000.0
3,Lagos,Lexus,ES 350,2011,Gray,4.95,Foreign Used,NaN
4,Ibadan,Toyota,Verso 1.6,2009,Silver,1.69,Nigerian Used,118906.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4487 entries, 0 to 4486
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            4487 non-null   object
 1   Maker               4487 non-null   object
 2   Model               4487 non-null   object
 3   Year                4487 non-null   int64
 4   Colour              4487 non-null   object
 5   Amount (Million ₦)  4487 non-null   float64
 6   Type                4487 non-null   object
 7   Distance_Km         2932 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 280.6+ KB

In [5]:
print("df_shape:", df.shape)

df_shape: (4487, 8)

In [6]:
df.columns

Index(['Location', 'Maker', 'Model', 'Year', 'Colour', 'Amount (Million ₦)',
       'Type', 'Distance_Km'],
      dtype='object')

In [7]:
df.dtypes

Location               object
Maker                  object
Model                  object
Year                    int64
Colour                 object
Amount (Million ₦)    float64
Type                   object
Distance_Km           float64
dtype: object

In [8]:
df.isnull().sum()

Location                 0
Maker                    0
Model                    0
Year                     0
Colour                   0
Amount (Million ₦)       0
Type                     0
Distance_Km           1555
dtype: int64

In [9]:
avg_distance = df["Distance_Km"].mean()

In [10]:
df["Distance_Km"].mode()

0    75000.0
dtype: float64

In [11]:
df.describe()

              Year  Amount (Million ₦)   Distance_Km
count  4487.000000         4487.000000  2.932000e+03
mean   2011.095610           11.309795  1.010383e+05
std       4.823362           20.585915  1.150914e+05
min    1982.000000            0.420000  1.000000e+00
25%    2008.000000            3.600000  5.237850e+04
50%    2011.000000            5.700000  7.900000e+04
75%    2014.000000           12.000000  1.099392e+05
max    2022.000000          454.000000  1.785448e+06

In [12]:
df.describe().mode()

          Year  Amount (Million ₦)   Distance_Km
0     4.823362            0.420000  1.000000e+00
1  1982.000000            3.600000  2.932000e+03
2  2008.000000            5.700000  5.237850e+04
3  2011.000000           11.309795  7.900000e+04
4  2011.095610           12.000000  1.010383e+05
5  2014.000000           20.585915  1.099392e+05
6  2022.000000          454.000000  1.150914e+05
7  4487.000000         4487.000000  1.785448e+06

In [13]:
df["Distance_Km"].fillna(avg_distance ,inplace = True)

In [14]:
df.isnull().sum()

Location              0
Maker                 0
Model                 0
Year                  0
Colour                0
Amount (Million ₦)    0
Type                  0
Distance_Km           0
dtype: int64

In [15]:
avg_distance = df["Distance_Km"].mean()
df["Distance_Km"].fillna(avg_distance ,inplace = True)

# Handling Categorical Column

In [16]:
Categorical_cols = df.select_dtypes(include = 'object')
Categorical_cols.head()

  Location          Maker           Model  Colour           Type
0    Abuja  Mercedes-Benz         GLA 250   Brown   Foreign Used
1    Abuja        Hyundai          Accent     Red  Nigerian Used
2    Lagos          Lexus  GX 460 Premium   White   Foreign Used
3    Lagos          Lexus          ES 350    Gray   Foreign Used
4   Ibadan         Toyota       Verso 1.6  Silver  Nigerian Used

In [17]:
from sklearn.preprocessing import LabelEncoder
cols = ['Location', 'Maker', 'Model', 'Colour', 'Type']
for i in cols:
    le= LabelEncoder()
    df[i] = le.fit_transform(df[i].astype(str))

In [18]:
df.Distance_Km.value_counts()

101038.321282    1555
75000.000000       39
65000.000000       38
85000.000000       35
80000.000000       32
                 ...
62385.000000        1
61515.000000        1
62527.000000        1
19736.000000        1
90282.000000        1
Name: Distance_Km, Length: 1933, dtype: int64

In [19]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million ₦),Type,Distance_Km
0,0,26,371,2015,3,14.50,1,50000.000000
1,0,14,81,2013,14,1.55,2,101038.321282
2,2,23,397,2011,17,14.00,1,85000.000000
3,2,23,297,2011,6,4.95,1,101038.321282
4,1,44,853,2009,15,1.69,2,118906.000000

In [20]:
df.columns

Index(['Location', 'Maker', 'Model', 'Year', 'Colour', 'Amount (Million ₦)',
       'Type', 'Distance_Km'],
      dtype='object')

# DATA SEGMENTATION

In [21]:
#DEPENDENT VARIABLE:target column dat we are trying to predict
y = df["Amount (Million ₦)"]
#INDEPENDENT VARIABLE: 
x = df.drop("Amount (Million ₦)", axis = 1)

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

# TRAINING ONE'S MODEL: load one's data into the Linear Regression Model

In [24]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

#  Make PREDICTIONS

In [28]:
reg.predict(x_test)

array([21.80699352,  5.14018816, 25.8950923 , ..., 15.82595353,
       23.44234064,  8.63420361])

# Evaluate your MODEL

In [29]:
from sklearn.metrics import mean_absolute_error

# we are using mean_absolute_error because
# this is a regression model

y_prediction = reg.predict(x_test)

print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))
# actual before the prediction in (y_test, y_prediction)

mean_absolute_error is: 7.768988918539991

# other ML Algorithms

# Decision tree;best performing model

In [30]:
from sklearn.tree import DecisionTreeRegressor

dt_reg = DecisionTreeRegressor()
dt_reg.fit(x_train, y_train)
y_prediction = dt_reg.predict(x_test)
    
print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))

mean_absolute_error is: 3.9039018626577575

# Support Vector Machine (SVM)

In [31]:
from sklearn.svm import SVR
sv_reg = SVR()
sv_reg.fit(x_train, y_train)
y_prediction = sv_reg.predict(x_test)
    
print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))

mean_absolute_error is: 7.048413753182884

In [32]:
df["Amount (Million ₦)"].corr

<bound method Series.corr of 0       14.50
1        1.55
2       14.00
3        4.95
4        1.69
        ...
4482     4.60
4483     4.50
4484    10.45
4485    31.00
4486    14.00
Name: Amount (Million ₦), Length: 4487, dtype: float64>

In [33]:
df.corr()["Amount (Million ₦)"]

Location             -0.067524
Maker                -0.050982
Model                 0.117746
Year                  0.502713
Colour               -0.082198
Amount (Million ₦)    1.000000
Type                 -0.367383
Distance_Km          -0.151440
Name: Amount (Million ₦), dtype: float64

In [2]:
import pandas as pd

In [3]:
testdemographics =  pd.read_csv(r'C:\Users\USER\Downloads\testdemographics.csv', index_col=None)

In [4]:
testdemographics.head()

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
0,8a858f305c8dd672015c93b1db645db4,1976-08-28 00:00:00.000000,Savings,5.296628,7.593965,Heritage Bank,NaN,Permanent,NaN
1,8a858f085a477386015a47fb049e49ca,1978-06-23 00:00:00.000000,Savings,3.294513,6.596602,UBA,NaN,Permanent,NaN
2,8a858e6f5cd5e874015cd6f5634c39ad,1984-04-04 00:00:00.000000,Savings,8.501912,7.729364,First Bank,NaN,Permanent,NaN
3,8a858e9d5bfd7037015bfdab79f61305,1983-05-28 00:00:00.000000,Savings,3.318904,6.681595,UBA,NaN,Permanent,NaN
4,8a858fde56eb02280156eb6dafc128ac,1982-03-29 00:00:00.000000,Savings,6.354624,4.949031,First Bank,NaN,Self-Employed,NaN

In [5]:
traindemographics =  pd.read_csv(r'C:\Users\USER\Downloads\traindemographics.csv', index_col=None)

In [6]:
testperf =  pd.read_csv(r'C:\Users\USER\Downloads\testperf.csv', index_col=None)

In [7]:
trainperf =  pd.read_csv(r'C:\Users\USER\Downloads\trainperf.csv', index_col=None)

In [8]:
traindemographics.head(10)

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,NaN,NaN,NaN
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,NaN,Permanent,NaN
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN
3,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,NaN,Permanent,NaN
4,8a858e785acd3412015acd48f4920d04,1982-11-22 00:00:00.000000,Savings,8.455332,11.971410,GT Bank,NaN,Permanent,NaN
5,8a858f045bc9690c015bca251e9a4e95,1978-12-11 00:00:00.000000,Savings,3.330087,6.552518,GT Bank,NaN,Permanent,NaN
6,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN
7,8a858f275c451af5015c546a50ce55ed,1986-09-09 00:00:00.000000,Savings,4.734382,7.606868,GT Bank,NaN,Permanent,NaN
8,8a858f405d13c45f015d13dd93ec0c1c,1992-11-17 00:00:00.000000,Savings,3.290590,6.612075,EcoBank,NaN,Permanent,NaN
9,8a858f735c161bda015c164d86632026,1965-02-23 00:00:00.000000,Savings,3.362783,6.509418,EcoBank,NaN,Permanent,NaN

In [9]:
SampleSubmission =  pd.read_csv(r'C:\Users\USER\Downloads\SampleSubmission.csv', index_col=None)

In [10]:
SampleSubmission.head(10)

                         customerid  Good_Bad_flag
0  8a28afc7474813a40147639ec637156b              1
1  8a3735d5518aba7301518ac34413010d              1
2  8a76e7d443e6e97c0143ed099d102b1d              1
3  8a818823525dceef01525deda2480384              1
4  8a818926522ea5ef01523aff15c37482              1
5  8a8189f9526ad7de015280bef19d5811              1
6  8a85880353acff880153b92f8599568b              1
7  8a85880353acff880153b9993fe358d9              1
8  8a85880353acff880153bd56e93f75ff              1
9  8a85881053bc33670153bda8562417c7              1

In [11]:
trainperf.head(10)

,customerid,systemloanid,loannumber,approveddate,creationdate,loanamount,totaldue,termdays,referredby,good_bad_flag
0,8a2a81a74ce8c05d014cfb32a0da1049,301994762,12,2017-07-25 08:22:56.000000,2017-07-25 07:22:47.000000,30000.0,34500.0,30,NaN,Good
1,8a85886e54beabf90154c0a29ae757c0,301965204,2,2017-07-05 17:04:41.000000,2017-07-05 16:04:18.000000,15000.0,17250.0,30,NaN,Good
2,8a8588f35438fe12015444567666018e,301966580,7,2017-07-06 14:52:57.000000,2017-07-06 13:52:51.000000,20000.0,22250.0,15,NaN,Good
3,8a85890754145ace015429211b513e16,301999343,3,2017-07-27 19:00:41.000000,2017-07-27 18:00:35.000000,10000.0,11500.0,15,NaN,Good
4,8a858970548359cc0154883481981866,301962360,9,2017-07-03 23:42:45.000000,2017-07-03 22:42:39.000000,40000.0,44000.0,30,NaN,Good
5,8a8589f35451855401546b0738c42524,301986516,8,2017-07-19 21:46:24.000000,2017-07-19 20:46:18.000000,30000.0,39000.0,60,NaN,Good
6,8a858e095c59b91b015c5e5cea3719bc,301972027,3,2017-07-10 19:25:33.000000,2017-07-10 18:25:28.000000,10000.0,13000.0,30,NaN,Good
7,8a858e1158dc4d830158f7bde4f47ea7,301994428,10,2017-07-24 23:42:27.000000,2017-07-24 22:42:21.000000,30000.0,34500.0,30,NaN,Good
8,8a858e185b4923b4015b4ae48d28646a,301996687,4,2017-07-26 10:53:05.000000,2017-07-26 09:52:57.000000,10000.0,11500.0,15,NaN,Good
9,8a858e1d5cd58f9e015ceda4bdb63673,301981931,2,2017-07-17 13:48:42.000000,2017-07-17 12:48:35.000000,10000.0,11500.0,15,NaN,Good