In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [4]:
df = pd.read_csv("tips.csv")

In [5]:
df.head()

   total_bill     tip  gender smoker   day    time  size
0     2125.50  360.79    Male     No  Thur   Lunch     1
1     2727.18  259.42  Female     No   Sun  Dinner     5
2     1066.02  274.68  Female    Yes  Thur  Dinner     4
3     3493.45  337.90  Female     No   Sun  Dinner     1
4     3470.56  567.89    Male    Yes   Sun   Lunch     6

In [6]:
df.info()

print("df_shape:", df.shape)
#print("test_shape:", test.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  744 non-null    float64
 1   tip         744 non-null    float64
 2   gender      744 non-null    object
 3   smoker      744 non-null    object
 4   day         744 non-null    object
 5   time        744 non-null    object
 6   size        744 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 40.8+ KB
df_shape: (744, 7)

In [7]:
df.dtypes

total_bill    float64
tip           float64
gender         object
smoker         object
day            object
time           object
size            int64
dtype: object

In [8]:
df.describe()

        total_bill          tip        size
count   744.000000   744.000000  744.000000
mean   2165.006640   325.948091    3.180108
std     954.248806   148.778225    1.532890
min      44.690000     0.000000    1.000000
25%    1499.022500   218.000000    2.000000
50%    2102.610000   320.460000    3.000000
75%    2743.802500   415.562500    4.000000
max    5538.290000  1090.000000    6.000000

In [9]:
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [10]:
df.describe()

        total_bill          tip        size
count   744.000000   744.000000  744.000000
mean   2165.006640   325.948091    3.180108
std     954.248806   148.778225    1.532890
min      44.690000     0.000000    1.000000
25%    1499.022500   218.000000    2.000000
50%    2102.610000   320.460000    3.000000
75%    2743.802500   415.562500    4.000000
max    5538.290000  1090.000000    6.000000

In [11]:
#avg_bill = df["total_bill"].mean()

In [12]:
#df["total_bill"].mode()

In [13]:
#df["total_bill"].fillna(avg_tips ,inplace = True)

In [14]:
df.columns

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size'], dtype='object')

In [15]:
df.isnull().sum()

total_bill    0
tip           0
gender        0
smoker        0
day           0
time          0
size          0
dtype: int64

In [16]:
# avg_bill = df["total_bill"].mean()
# df["total_bill"].fillna(avg_bill ,inplace = True)

# # Handling Categorical Column

In [17]:
# Categorical_cols = df.select_dtypes(include = 'object')
# Categorical_cols.head()

In [18]:
from sklearn.preprocessing import LabelEncoder
cols = ['gender', 'smoker', 'day', 'time']
for i in cols:
    le= LabelEncoder()
    df[i] = le.fit_transform(df[i].astype(str))

In [19]:
# df.head()

In [20]:
#DEPENDENT VARIABLE:target column dat we are trying to predict
y = df["tip"]

#INDEPENDENT VARIABLE: 
x = df.drop("tip", axis = 1)

In [21]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

# # TRAINING ONE'S MODEL: load one's data into the Linear Regression Model

In [22]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train, y_train)

LinearRegression()

#   Make PREDICTIONS

In [23]:
reg.predict(x_test)

array([286.73769327, 342.98886086, 275.60562899, 286.24172967,
       366.1496806 , 315.4831258 , 328.14473511, 306.51450281,
       333.67202078, 303.56792356, 330.80138555, 318.39849724,
       331.34041747, 357.54000352, 294.58583981, 292.73337688,
       345.49609733, 287.13479193, 337.84900078, 291.36333078,
       328.20038631, 309.04409785, 320.67218924, 319.36946046,
       391.8880806 , 296.19530262, 320.14493632, 365.45836686,
       288.38993465, 276.40566161, 281.43487245, 275.831462  ,
       331.45797607, 300.85188026, 324.58200612, 332.90909415,
       315.772334  , 340.80589696, 333.76529467, 324.68598631,
       271.32736505, 320.45204204, 299.34517015, 331.90254357,
       310.4392169 , 307.73568326, 333.65537036, 367.21416208,
       362.32992465, 281.36946217, 284.75048689, 399.23563814,
       352.13214642, 328.00769534, 288.06440296, 300.87706659,
       367.06601703, 307.08602514, 344.51990556, 347.54736242,
       327.05638622, 324.57370652, 361.80196092, 377.11377788,
       345.58098031, 303.13982127, 345.44643574, 363.84635376,
       294.78223236, 323.57799215, 281.67896868, 290.12579442,
       356.47027549, 346.52766715, 277.86959316, 316.81273495,
       303.08726455, 308.18327194, 286.25329222, 327.94676139,
       323.0464314 , 340.52873039, 358.0338643 , 291.46915453,
       267.57811158, 350.55708203, 316.99769238, 288.38248557,
       377.67555913, 358.04335132, 350.96608712, 355.50350724,
       320.6580711 , 340.58595297, 351.54020956, 341.53804523,
       340.6133912 , 378.47297797, 337.08041043, 296.84980399,
       320.73580048, 319.93293576, 320.70792707, 332.28808852,
       311.5588371 , 292.16697023, 338.92847422, 392.63354586,
       350.15711553, 314.44960787, 364.1349324 , 346.63391725,
       325.34294851, 367.46126682, 289.87174412, 292.06235597,
       295.11820268, 354.94193996, 329.33921155, 314.00194589,
       324.94499362, 343.16877978, 269.18439745, 292.69272755,
       322.17605359, 294.22297931, 384.61574214, 343.78732114,
       321.03013823, 366.52861565, 380.34173668, 324.21413105,
       285.9478091 , 339.17962505, 318.03055867, 360.25596965,
       307.04027814, 366.79230778, 287.73331633, 320.60671643,
       285.61404518, 348.18566763, 323.26985383, 345.22899363,
       336.9660014 , 328.29585293, 335.65464142, 367.36706912,
       324.81294113, 309.9321949 , 376.3601439 , 320.42975518,
       388.04406724, 294.15342396, 269.98017594, 259.34295134,
       276.16941205, 353.24047218, 315.70390256, 325.2063382 ,
       279.62163247, 324.80100732, 365.1919881 , 306.26137224,
       299.24503654, 327.70436354, 308.37966449, 290.01471979,
       294.63109246, 325.17789465, 353.67518002, 322.69009928,
       318.91582796, 351.09042815, 322.55647541, 404.72960884,
       370.94092981, 339.02515483, 322.72791264, 359.31538871,
       364.05629741, 338.16512124, 368.30859188, 297.41492397,
       275.610159  , 316.78186281, 405.73105043, 392.80837691,
       359.41022578, 329.15808314, 335.80216125, 327.71896623,
       313.37822536, 332.50986626, 416.49160544, 383.69777924,
       297.3685927 , 277.43128732, 302.81754273, 303.45342756,
       273.82935434, 360.94541653, 421.47622506, 321.07858053,
       298.75048703, 326.98362734, 298.58934776, 290.61410573,
       378.33805764, 333.6801215 , 264.24673865, 307.83016231,
       302.98656055, 384.4782399 , 350.5755178 , 310.6411325 ,
       365.76554836, 290.12414974, 288.0603477 , 330.57229939,
       338.9310978 , 285.75391272, 335.73065345, 344.42797777])

# Evaluate your MODEL

In [24]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# we are using mean_absolute_error because
# this is a regression model

y_prediction = reg.predict(x_test)

print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))
# actual before the prediction in (y_test, y_prediction)

mean_absolute_error is: 114.4962600994498

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# TODO: Evaluate your model using the following 
# - R Square?Adjusted R square
# - Mean Square Error(MSE)/Root Mean Square Error(RMSE)
# - Mean Absolute Error

y_prediction = reg.predict(x_test)
print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))
# actual before the prediction in (y_test, y_prediction)

mean_absolute_error is: 114.4962600994498

In [26]:
print('rmse is:', mean_squared_error(y_test, y_prediction, squared = False))

rmse is: 148.27143105136457

In [27]:
from math import sqrt
print('rmse is:', sqrt(mean_squared_error(y_test, y_prediction,)))

rmse is: 148.27143105136457

In [28]:
print("R2_score is:", r2_score(y_test, y_prediction))

R2_score is: 0.05950991375372772

In [29]:
from xgboost import XGBRegressor

xgb = XGBRegressor()

xgb.fit(x_train, y_train)
y_prediction = xgb.predict(x_test)
print("XGB is:", mean_absolute_error(y_test, y_prediction))

XGB is: 129.22684642859866

In [30]:
from sklearn.metrics import mean_absolute_error

y_prediction = xgb.predict(x_test)
print('mean_absolute_error is:', mean_absolute_error(y_test, y_prediction))
# actual before the prediction in (y_test, y_prediction)

mean_absolute_error is: 129.22684642859866

In [31]:
print('rmse is:', mean_squared_error(y_test, y_prediction, squared = False))

rmse is: 168.4608580806632

In [32]:
print('rmse is:', sqrt(mean_squared_error(y_test, y_prediction,)))

rmse is: 168.4608580806632

In [91]:
print("R2_score is:", r2_score(y_test, y_prediction))

R2_score is: -0.4254958102950053